.imgList {
    margin: 20px 10px;
    position: relative;
}


.gallery h1 {
    margin-top: 8vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}

.galleryContainer {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, 300px));
    grid-template-columns: repeat(auto-fill, minmax(100px,400px));
    justify-items: center;
    grid-gap: 10px;
    justify-content:center;
}

.imgContainer{
    display: block;
    box-shadow: black 2px 2px 5px;

}

.imgContainer img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uploadForm{
    margin: 50px 5% 0 5%
}

.login {
    display: flex;
}

.delete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
}