.title {
    height: 5vh;
    background: rgb(93, 93, 93);
    color: rgb(187, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: 10px;
}